<h1>Página Show.</h1>

<h2><%= @article.title %></h2>
<p>
    <%= @article.body %>
</p>

<h3><%= link_to "Edit", edit_article_path(@article) %></h3>
<h3><%= button_to 'Delete', article_path(@article), method: :delete, data: { confirm: 'Are you sure?' } %>
</h3>
<h3><%= link_to "Back", articles_path%></h3>

<h2>Add a comment:</h2>
<%= render 'comments/form'%>

<h2>Comments</h2>
<%= render @article.comments %>
